.btn-svg {
	.cursor {
		transition: transform .25s ease;
	}
	&:hover {
		.cursor {
			transform: translateY(-20px);
		}
	}
}

button {
	display: inline-block;
	cursor: pointer;

	&.btn-standard {
		font-size: 14px;
		background: #FFF;
		border: 2px solid $darkText;
		font-family: $serif;
		height: 45px;
		line-height: 43px;
		padding: 0 20px;
		font-style: italic;
		letter-spacing: .05em;

		&:active, &:hover, &:focus {
			box-shadow: inset 0 0 0 2px white, inset 0 0 0 3px black;
			outline: none;
		}
	}

	&.btn-block {
		display: block;
		width: 100%;
	}
}
