header {
	position: fixed;
	left: 0;
	top: 0;
	width: 180px;
	padding-top: 30px;
	background-color: transparent;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	align-content: space-between;
	z-index: $zHeader;
	opacity: 0;
	animation: headerFade .4s ease 1 forwards;

	.header-item {
		width: 100%;

		&-logo {
			text-align: center;

			img {
				width: 100%;
				max-width: 110px;
				display: block;
				margin-left: auto;
				margin-right: auto;
			}

			.identity {
				display: block;
			}
			.wordmark {
				display: none;
			}
		}
	}
}

///////////////////
// MOBILE HEADER //
///////////////////
.header-item-toggle {display: none;}

@media(max-width: $tabletBreak) {
	header {
		padding: 15px 3.5vw;
		width: 100%;
		flex-direction: row;
		background-color: $transWhite;
		height: 60px;

		.header-item {
			&-logo {
				width: auto;
				.identity {
					display: none;
				}
				.wordmark {
					display: block;
					width: 140px;
				}
			}

			&-toggle {
				width: auto;
				flex: 1;
				flex-basis: 100px;
				display: block;
				text-align: right;
				height: 29px;

				.nav-toggle {
					width: 30px;
					margin-right: 0;
					margin-left: auto;
					display: flex;
					flex-direction: column;
					align-content: space-around;
					cursor: pointer;
					height: 29px;
					padding-top: 8px;

					span {
						display: block;
						width: 100%;
						height: 3px;
						background-color: $darkText;
						transition: transform .35s ease;

						&:first-of-type {
							margin-bottom: 9px;
						}
					}
				}

				&.nav-active .nav-toggle span {
					&:first-of-type {
						transform: translateY(6px) rotate(-45deg);
					}
					&:last-of-type {
						transform: translateY(-6px) rotate(45deg);
					}
				}
			}
		}
	}
}

@media(max-width: $mobileBreak) {
	header {
		height: 50px;
		padding-top: 10px;
		padding-bottom: 10px;

		&-item-logo img {
			max-width: 125px;
		}
	}
}

@keyframes headerFade {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
