.grid-list-promo {
	flex: 1;
	align-self: stretch;
}

.promo-content { 
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	height: 100%;
	width: 100%;

	@media(min-width: $monitorBreak) {
		padding: 50px;
	}

	@media(max-width: $tabletBreak) {
		padding: 20px;
	}

	@media(max-width: $mobileBreak) {
		padding: 5%;
	}

	&-label, &-title {
		flex: 1;
	}

	&-label {
		font-size: 12px;
		font-family: $sans-serif;
		font-weight: bold;
		letter-spacing: .35em;
		text-align: left;
		padding-bottom: 7.5%;

		@media(max-width: $mobileBreak) {
			font-size: 10px;
			letter-spacing: .275em;
		}
	}

	&-title {
		text-align: right;
		padding-left: 40%;
		font-size: 18px;
		font-family: $serif;
		font-style: italic;
		flex: 0;
		padding-bottom: 10%;

		@media(max-width: $mobileBreak) {
			padding-bottom: 5%;
			padding-left: 30%;
			font-size: 15px;
		}
	}

	&-count {
		width: 25%;
		padding-bottom: 25%;
		position: relative;
		background-color: $darkText;
		border: 2px solid $darkText;
		margin-bottom: 20%;
		// transition: background-color .25s ease;

		&:before, &:after {
			content: '';
			display: block;
			position: absolute;
			height: 100%;
			width: 100%;
			border: 2px solid $darkText;
			background-color: #fff;
		}

		&:before {
			top: 10%;
			left: 10%;
			z-index: -1;
			// transition: background-color .25s ease;
		}

		&:after {
			top: 20%;
			left: 20%;
			z-index: -2;
		}

		&:hover {
			background-color: rgba(0,0,0,0);

			&:before {
				background-color: $darkText;
			}
		}

		span {
			@include absCenter;
			display: inline-block;
			font-size: 2.5vw;
			font-weight: bold;
			font-family: $sans-serif;
			color: #fff;

			@media(max-width: $mobileBreak) {
				font-size: 6.5vw;
			}
		}
	}

	&-btn.btn-standard {
		width: 148px;
		align-self: flex-end;

		@media(max-width: $mobileBreak) {
			height: 30px;
			line-height: 28px;
			font-size: 12px;
			padding: 0 15px;
			width: 128px;
		}
	}
}
