.affirm-display {
	opacity: 0;
	animation: showLoaded .35s ease 1;
	animation-fill-mode: forwards;
	animation-delay: .7s;
	position: absolute;
	width: 100%;

	@media(max-width: $tabletBreak) {
		padding-bottom: 85px;
	}

	@media(max-width: $mobileBreak) {
		padding-bottom: 70px;
	}

	.thumbs-up {
		width: 115px;
		min-height: 120px;
		height: auto;
		display: block;
		margin: 0 auto;
	}

	h2 {
		font-size: 15px;
		margin: 40px 0 60px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: $sans-serif;
    letter-spacing: .5em;
    text-align: center;
	}
}
