$darkText: #000;
$transWhite: rgba(255,255,255,.95);

$serif: Libre Baskerville, 'Libre Baskerville', serif;
$sans-serif: Arial, sans-serif;

$monitorBreak: 1400px;
$tabletBreak: 1024px;
$mobileBreak: 560px;

$zHeader: 15;
$zModal: 50;
$zNav: 10;
