@mixin absCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin fadeUp($duration) {
	transform: translateY(-50%) $duration ease;
	opacity: 0;
}

@mixin fadeI($duration) {
	transform: translateY(-50%) $duration ease;
	opacity: 0;
}
